
@import "@fontsource/ibm-plex-sans";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-ibm;
  background-color: #f2f2f2;
  @apply md:bg-[url('./assets/images/header-logo.svg')] bg-no-repeat bg-right-top;
  background-size: 200px;
}

.abstract-background {
  @apply bg-[url('./assets/images/abstract-background.svg')] bg-top bg-cover;
  position: absolute;
  height: 500px;
  width: 100%;
  z-index: -1;
  height: 200vh;
}

h1 {
  font-size: 88px;
  font-weight: 700;
}

h2 {
  font-size: 40px;
  font-weight: 700;
}